<form class="m-editor" id="meme-editor-view">
  <div class="dropzone" id="dropzone">Drop Image Here</div>
  
  <h2><label for="image-scale">Resize image</label></h2>
  <input id="image-scale" type="range" max="4" min=".01" step=".01" value="1">
  
  <h2><label for="headline">Headline</label></h2>
  <textarea id="headline" name="headline" type="text" value=""></textarea>
  
  

  <div class="m-editor__overlay" id="overlay">
    <h2>Overlay Color</h2>
    <ul class="checkbox-group">
      <li><label><input type="radio" name="overlay" value=""> None</label></li>
    </ul>
  </div>
</form>
